<!-- your html code here -->
<div class="container-fluid bg-white"> 
    <div class="container">
        <div class="bg-white">
                <div class="Col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xl-12 ">
                    <h1 class="pt-2">Contact</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur veniam impedit natus, quaerat ducimus voluptates corrupti enim perspiciatis dolorum! Et eaque architecto voluptas, earum ipsam officia accusantium eveniet alias provident?</p>
                    <div>
                                <label>Email</label>
                                <div>
                                    <input type="email" readonly class="form-control" placeholder="your email here...">
                                </div>
                    </div>
                                <label>Message</label>
                                <div>
                                    <textarea class="form-control"></textarea>
                                </div>
                          
                            <button type="button" class="btn btn-primary float-end mt-3" placeholder="your message here...">Submit</button>
                    <div class="py-5">
                    <p>Your Website Name 2021</p>
                    </div>
            </div>
        </div>
    </div>
</div>  