<!-- your html code here -->
<div class="container-fluid bg-white py-5">
    <h2>Portfolio</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam cupiditate veniam distinctio, error aut libero tempora blanditiis voluptatem ex necessitatibus! Voluptates, temporibus distinctio? Nobis, rerum odio exercitationem sapiente accusamus repellendus?</p>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col-sm-4">
        <div class="card">
            <img src="https://picsum.photos/200/150" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Project Name</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius veritatis nulla facilis cum placeat deleniti reiciendis incidunt labore odio, recusandae corporis veniam illo pariatur totam quis perferendis possimus. Officiis, nostrum.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
            <img src="https://picsum.photos/200/150" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Project Name</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, illo mollitia minima suscipit maiores dignissimos deserunt error corrupti beatae vero consequuntur voluptas sequi vitae sunt quidem, magnam doloremque ullam laboriosam.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <img src="https://picsum.photos/200/150" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, illo mollitia minima suscipit maiores dignissimos deserunt error corrupti beatae vero consequuntur voluptas sequi vitae sunt quidem, magnam doloremque ullam laboriosam.</p>
              </div>
            </div>
          </div>
        </div>
      </div>