<!-- your html code here -->
<div class="container-fluid bg-white ">
    <div class="row py-5">
        
        <div class="col-5"><img class="rounded-circle" src="https://raw.githubusercontent.com/Facundopiedrabuena/exercise-collaborative-html-website/master/website/assets/img/2.jpg" style="display:flex" alt="breaking-bad" width="250" height="250"></div>
        
        <div class="col-7 ">
            <div class="d-flex">
            <div class="p-0 mx-1">
                
                <h4>The Second Heading  </h4></div> <div><h4 class="text-secondary"> Is pretty cool too</h4></div>
            
            </div> 
                <p class="py-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim fugiat aspernatur quas non veniam assumenda? Consequatur excepturi, voluptas doloribus corporis illo odit, quidem harum quis, earum incidunt voluptate facere accusantium!</p>
            </div>
            
            
        </div>
        
    
</div> 